Object.assign(About.prototype, { template(){ return `

<div class="container kiosk">
	<div class="row">
		<div class="col-12 mt-5">
			<h2 class="mb-4 text-center">Snackshop</h2>
    </div>
  </div>
  <div class="row">
			<section class="col-12 col-md-8 order-2 order-md-1 my-5">
				<h3>Popcorn & Snacks</h3>
				<article class="mb-5 col-6">
					<p>Popcorn är nästan synnonymt med biosnacks idag. Så självklart säljer vi popcorn, popcorn som smakar som det ska, dvs "biopopcorn". De är nygjorda, varma och saltade och även en liten dos kärlek är inblandat när dom görs. Det finns även chips att köpa, i två smaker. Sourcream eller Bacon smak. Dessa två är klassiker på bio och vi tror att alla behöver någon av dessa när man ser på film.</p>
					<img class="img-fluid popcorn" src="/imgs/kiosk/popcorn.gif">
				</article>
					<img class="img-fluid popcorn col-6" src="/imgs/kiosk/popcorn.gif">
				<h3>Dryck</h3>
				<article class="mb-5">
					<p>I samband med köp av popcorn eller chips över disken så passa på att köpa dricka. Det finns alla möjliga drycker att välja mellan! Även för den som inte gillar läsk, eller den söta drycken. Vi har det vanliga läskutbudet:</p>
						<ul class="list-inline">
							<li class="list-inline-item">Coca Cola, </li>	
							<li class="list-inline-item">Coca Cola: Zero, </li>	
							<li class="list-inline-item">Coca Cola: Light, </li>	
							<li class="list-inline-item">Fanta, </li>
							<li class="list-inline-item">Sprite</li>
						</ul>
						<p>Det finns självklart vatten också, då säljer vi LOKA, naturell eller citrus smak. Det utbud med utan kolsyra finns, självklart. Då är det MER som gäller i blandade smaker. Apelsin, Päron och Hallon/Blåbär är de MER-dryckerna vi erbjuder.</p>
				</article>
				<h3>Godis</h3>
				<article class="mb-5">
					<p>I kisoken så kan du hitta allt möjligt smått och gott! Det kommer ta för lång tid att lista igenom allting. Däremot kan vi garantera att det finns något för alla åldrar och smaker. För er som inte vill ha det sockrade godis som de flesta är sugna på så finns lite nyttigare alternativ: Kokoschips och nötter exempelvis.</p>
				</article>
			</section>	

			<div class="col-12 col-md-4 order-1 order-md-2">
				<img class="img-fluid float-right" src="/imgs/kiosk/kiosk.jpg">
			</div>

		</div>
	</div>
</div>

`;}});