Object.assign(Footer.prototype, { template(){ return `

<div class="container mt-5 mb-3">
  <div class="row">

    <div class="col-lg-3 text-center my-2">
      <i class="fa fa-location-arrow" aria-hidden="true"></i> Filmvisargatan 3, 233 33 Malmö
    </div>

    <div class="col-lg-3 text-center my-2">
      <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:040123456">040-12 34 56</a> 
    </div>

    <div class="col-lg-3 text-center my-2">
      <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:biografen@live.se">info@filmvisarna.se</a>
    </div>

    <div class="col-lg-3 text-center my-2">
      <p>
        <a href="http://www.facebook.com" target="_blank" class="mx-1"><i class="fa fa-facebook-official fa-lg social-media rounded" aria-hidden="true"></i></a>
        <a href="http://www.twitter.com" target="_blank" class="mx-1"><i class="fa fa-twitter-square fa-lg social-media" aria-hidden="true"></i></a>
        <a href="http://www.youtube.com" target="_blank" class="mx-1"><i class="fa fa-youtube-square fa-lg social-media" aria-hidden="true"></i></a>
      </p>
    </div>

  </div>
</div>

`;}});





