Object.assign(Footer.prototype, { template(){ return `

<div class="container mt-5 mb-3">
  <div class="row">

    <div class="col-lg-3 text-center">
      <a href="#"><i class="fa fa-location-arrow" aria-hidden="true"></i> Filmvisargatan 3</a>
    </div>

    <div class="col-lg-3 text-center">
      <a href="#"><i class="fa fa-phone" aria-hidden="true"></i> 040-12 34 56</a> 
    </div>

    <div class="col-lg-3 text-center">
      <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Biografen@live.se</a>
    </div>

    <div class="col-lg-3 text-center">
      <p>
        <a href="#"><i class="fa fa-facebook-official fa-lg social-media rounded" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter-square fa-lg social-media" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-youtube-square fa-lg social-media" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram fa-lg social-media" aria-hidden="true"></i></a>
      </p>
    </div>

  </div>
</div>

`;}});





