Object.assign(MinaSidor.prototype, { template(){ return `

<div class="container">
	<div class="row">
		<div class="col-12">
			<h2 class="mt-5 text-center">Mina bokningar</h2>
				<div class="row">
					
					<div class="col-6 mt-5">
						<h3 class="text-center mb-4">Dina kommande bokningar</h3>
						<div class="card border-danger mb-3 mx-auto" style="max-width: 18rem;">
						  <div class="card-header"><h5 class="text-danger font-weight-bold">Film och datum?</h5></div>
						  <div class="card-body text-danger">
						    <ul class="card-text list-unstyled font-weight-bold">
						    	<li class="">Salong</li>
						    	<li>stolnr, radnr</li>
						    	<li>tid </li>
						    	<li>bokningsnummer:</li>
						    </ul>	
						  </div>
						</div>
					</div>

					<div class="col-6 mt-5">
						<h3 class="text-center mb-4">Dina tidigare bokningar</h3>

						<div class="card border-danger mb-3 mx-auto" style="max-width: 18rem;">
						  <div class="card-header"><h5 class="text-danger font-weight-bold">Film och datum?</h5></div>
						  <div class="card-body text-danger">
						    <ul class="card-text list-unstyled font-weight-bold">
						    	<li class="">Salong</li>
						    	<li>stolnr, radnr</li>
						    	<li>tid </li>
						    	<li>bokningsnummer:</li>
						    </ul>	
						  </div>
						</div>

						<div class="row">
							<div class="col-12">

								<div class="card border-danger mb-3 mx-auto" style="max-width: 18rem;">
								  <div class="card-header">
								  	<h5 class="text-danger font-weight-bold">Film och datum?</h5>
								  </div>
								  <div class="card-body text-danger">
							    	<ul class="card-text list-unstyled font-weight-bold">
							    		<li class="">Salong</li>
							    		<li>stolnr, radnr</li>
							    		<li>tid </li>
							    		<li>bokningsnummer:</li>
							    	</ul>	
								  </div>
								</div>

							</div>	
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>

`;}});