Object.assign(ModalMovie.prototype, { template(){ return `
<!-- Modal start-->
  <div class="modal fade text-dark" id="film-info" tabindex="-1" role="dialog" aria-labelledby="film-infoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- Youtube trailer -->
        <div class="modal-header d-flex justify-content-end">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="row">
          <iframe class="col-12" id="trailer" width="560" height="315" src="https://www.youtube.com/embed/"
            frameborder="0"  allowfullscreen>
          </iframe>
          <!-- Image and films details -->
          <div class="modal-body">
            <div class="row mx-1 item-parent">
              <!-- (item1)  Image and films details　 映画の写真（小）と　詳細　Start-->
              <div class="col-12 d-block d-md-none">
                <h1></h1>
                <p></p>
              </div>
              
              <div class="col-12 col-md-4 mb-5">
                <img src="" alt="">
                <div class="film-details mt-3">
                  <div>
                    <span class="font-weight-bold">Productionsår: </span>
                    <span></span>
                  </div>
                  <div>
                    <span class="font-weight-bold">Längd: </span>
                    <span></span>
                  </div>
                  <div>
                    <span class="font-weight-bold">Genre: </span>
                    <span></span>
                  </div>
                  <div>
                    <span class="font-weight-bold">Språk: </span>
                    <span></span>
                  </div>
                  <div>
                    <span class="font-weight-bold">Regissör: </span>
                    <span></span>
                  </div>
                  <div>
                    <span class="font-weight-bold">Skådespelare: </span>
                    <span></span>
                  </div>
                </div>
              </div>
              <!-- (item1)  Image and films details　 映画の写真（小）と　詳細　End-->
              <!-- item 2  Discription  タイトルと内容　Start-->
              <div class="col-8 mb-3"> <!-- 外枠 -->
                <div class="row">
                  <div class="col-12 mb-3 d-none d-md-block">
                    <h1></h1>
                    <p></p>
                  </div>
                  <!-- item 3  Performances   タイトルと内容　Start-->
                  <div class="col-12 mt-5">
                    <h3>Premiär</h3>
                    <ul class="pl-0">
                      <hr>
                      <!-- !!!!!!!!!  Länka <a href="#"> till boknings sida -->
                      <li>
                        <a href="#" class="text-dark">
                          <div>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <span class="ml-2 font-weight-bold"></span>
                          </div>
                          <div>
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <span class="ml-2 font-weight-bold"></span>
                            <span></span>
                            <span class="ml-5">
                              <button type="button" class="btn btn-danger font-weight-bold" data-toggle="modal" data-target="">
                                Förboka
                              </button>
                            </span>
                          </div>
                        </a>
                      </li>
                      <hr>
                      <li>
                        <!-- !!!!!!!!!  Länka <a href="#"> till boknings sida -->
                        <a href="#" class="text-dark">
                          <div>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <span class="ml-2 font-weight-bold"></span>
                          </div>
                          <div>
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <span class="ml-2 font-weight-bold"></span>
                            <span></span>
                            <span class="ml-5">
                              <button type="button" class="btn btn-danger font-weight-bold" data-toggle="modal" data-target="">
                                Förboka
                              </button>
                            </span>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- item 2   Discription & performances   タイトルと内容　 End -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Modal end-->
`;}});