Object.assign(ModalShowing.prototype, { template(){ return `
<div class="col-12">
  <a href="#" class="text-dark">
    <li class="">
      <span class="col-4">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <p class="ml-2 font-weight-bold d-inline">${this.date}</p>
      </span>
      <span class="col-4">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <p class="ml-2 font-weight-bold d-inline">${this.time}</p>
      </span>
      <span class="col-4">
        <a href="/${this.showid}" class="pop btn btn-danger font-weight-bold btn-sm">Boka</a>
      </span>
    </li>
  </a>
</div>
`;}});