Object.assign(Show.prototype, { template(){ return `

<div class="container-fluid">
	<div class="row">
		<div class="col-12">

			<div id="accordion">
  			<div class="card">
    			<div class="card-header" id="headingOne">
        		<h5 class="kalendarium-h5" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">${this.date}</h5>
    			</div>
    			<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      			<div class="card-body">
      				${this.cards.render}
      			</div>
    			</div>
  			</div>
			</div>
			
		</div>
	</div>
</div>
`;}});