// Styling for the overall page before header, main and footer loads
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
} 
html {
  overflow-y: scroll;
  body {
    background: #131414;
    color: white;
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 320px;
  }
}
html, body {
  margin: 0;
}
main {
flex-grow: 1;
  @media (max-width: 548px){
    width: 114%;
  }
}
// .main-content {
//   padding-top: 5%; 
//   margin: 0 auto;
//   max-width: 260px;
// }