// Styling for the overall page before header, main and footer loads
main > div:first-child > div:first-child {
  position: relative;
}

 * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: 0;
}

html {
  overflow-y: scroll;
}

 html, body {
  margin: 0;
}

.main-content {
  padding-top: 5%; 
  margin: 0 auto;
  max-width: 260px;
}

body {
  background: @black;
  color: white;
  font-family: 'Open Sans';
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px; 
}

main {
  flex-grow: 1;
}

.popover {
  background-color: @offWhite;
  top: 40px !important;
  div.popover-body{
    padding-bottom: 5px;
    padding-top: 5px;
  }
  
  h6{
    font-size: 0.8rem;
    color: @red;
  }
}