// All.less
// Styling for the overall page before header, main and footer loads

body {
  font-family: 'Open Sans';
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}


// Ska flyttas in i main  när slidern finns i main
.carousel-item a {
    display: block;
    position: absolute;
    bottom: 10px;
    color: white;
    text-shadow: 1px 1px 0 black;
    font-size: 34px;
    margin-left: 50px;
  }

div.calendertoday {
  background: slategrey;
}