.salong-holder {
  overflow:hidden;
  margin: 0 auto;
  .salong {
  width: 960px;
  transform: scale(1);
  text-align: center;
  transform-origin: 0 0;
    .seatrow {
      display: inline-block;
    }
    .seat {
      background: #ccc;
      width: 50px;
      height: 50px;
      border-radius: 2px 2px 35% 35%;
      text-align: center;
      cursor: pointer;
      float:left;
      &.hover,
      &.clicked {
        background: #ffc107;
      }
      &.booked {
        background: #dc3545;
      }
    }
  }
}

