.footer {
  font-family:'Cheltenham Bold Extra Condensed'; 
  font-size: 25px;
  line-height: 25px;
  background: linear-gradient(to bottom, #131414 1%, #ff0000 99%); 
  a{
    color: white;

  }

  a:hover{
    color:rgba(242, 242, 242, 0.6);
    text-decoration: none;
  }

  .font-style{
    font-family: 'Cheltenham Bold Extra Condensed';
  }
}

