html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  font-family:'Open Sans'; 
  font-size: 20px;
  line-height: 25px;
  background: linear-gradient(to bottom, #131414 1%, #ff0000 99%); 
}
