.footer {
  line-height: 25px;
  // background: linear-gradient(to bottom, #131414 1%, @lightRed 99%); 
  background: #111;
}
a {
  color: white;
}
a:hover {
  color:rgba(242, 242, 242, 0.6);
  text-decoration: none;
}