header{
  background: @red;
  .nav-item.active a{
    color: rgba(255,255,255,1);
  }
  text-transform: uppercase;
	h1{
		color: white;
		text-decoration: none;
		font-family: 'Spectral SC', serif;
    margin: 0 ;
    text-shadow: 5px 3px 5px rgba(0, 0, 0, 0.5);
		@media (max-width: 575px){
			font-size: 5vw;
		}
		@media (min-width: 576px) and (max-width: 992px){
   		font-size: 3vw;
		}
		@media (min-width: 992.5px){
			font-size: 3vw;
		}
	}

	a.nav-link{
		font-size: 0.85rem;
		color: rgba(255,255,255,0.7);
		font-weight: bold;
		text-decoration: none;
		&:hover {
			color: rgba(255,255,255,1);
		}
	}
	nav{
		button{
			color: white;
		}
	}
	.navbar-toggler {
    border-color: rgb(255,255,255);
    cursor: pointer;
  }
	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

}