header{
	background: linear-gradient(to top, #131414 1%, #ff0000 99%);
	.active{
	text-decoration: underline;
	}
	h1{
		color: white;
		text-decoration: none;
		// font-size: 3vw;
		font-family: 'Spectral SC', serif;
		@media (max-width: 575px){
			font-size: 7vw;
		}
		@media (min-width: 576px) and (max-width: 992px){
   		font-size: 8vw;
		}
		@media (min-width: 992.5px){
			font-size: 4vw;
		}
	}
	a.nav-link{
		&.active, &:hover {
		}
		& {
			color: white;
			font-weight: bold;
			text-decoration: none;
		}
	}
	nav{
		button{
			color: white;
		}
	}
	.navbar-toggler {
    border-color: rgb(255,255,255);
  }
	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}