.kalendarium{




	color: White bold;
	font-family: 'Cheltenham Bold Extra Condensed';
	
	h5{
		color: white;
		font-size: 30px;
	}

	h1{
		color: white;
		text-align :center;
	}

	

	.buttons {
		background-color: #ffbb33;
	}


	.card-header{
		background: linear-gradient(to bottom, #333300 42%, #ff0000 100%);
	}

	.collapse.show{
		background: linear-gradient(to bottom, #cc0000 0%, #666699 100%);

	}
	.li-tag{
		@media @smartphone{
			font-size: 
	  }
	  @media @tablet{
	  	font-size:
	  }
	  @media @desktop{
	  font-size:	
  	}
  	@media (min-width: 993px){
  		font-size:
  	}
  }

}

