 * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
} 
html {
	overflow-y: scroll;
}
 html, body {
	margin: 0;
} 
.main-content {
 	padding-top: 5%; 
	margin: 0 auto;
	max-width: 260px;
}
#photos a {  
  display: inline-block;
}
#photos a {
	margin: 0 auto;
	padding: 0;
	text-decoration: none;
}
#photos img {
	position: relative;
	float: left;
	width: 80%
}
#photos p {  
  position: absolute;
  top: 95%;
  left: 41%;  
  transform: translate(-50%, -50%);
}

#container1 {
	background: linear-gradient(to bottom, #660033 0%, #ff0000 100%);
	height: auto;
    overflow:auto;
    border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 5px ridge #db0d2f;
}

#container2 {
	background: linear-gradient(to bottom, #660033 0%, #ff0000 100%);
	height: auto;
    overflow:auto;
    border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 5px ridge #db0d2f;
}

#container3 {
	background: linear-gradient(to right, #660033 0%, #ff0000 100%);
	height: auto;
    overflow:auto;
    border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 5px ridge #db0d2f;
}
#container4 {
	background: linear-gradient(to left, #660033 0%, #ff0000 100%);
	height: auto;
    overflow:auto;
    border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 5px ridge #db0d2f;
}

#container5 {
	background: linear-gradient(to top, #660033 0%, #ff0000 100%);
	height: auto;
    overflow:auto;
    border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 5px ridge #db0d2f;
}

#container6 {
	background: linear-gradient(to top, #660033 0%, #ff0000 100%);
    height: auto;
    overflow:auto;
   	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 5px ridge #db0d2f;
}

#container7 {
	background: linear-gradient(to top, #660033 0%, #ff0000 100%);
    height: auto;
    overflow: auto;
    border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 5px ridge #db0d2f;
}

.weekdays {
	font-size: 40px;
	font-family: 'Open Sans';
	text-align: center;
	margin-bottom: 10px;
}

.buttons {
	background-color: #ffbb33;
	margin-top: 5px;
	padding: 10px;
}

.ul-1 {
	list-style-type: none;
	display: inline-block;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 18px;
}
.li-tag {
	list-style-type: none;
	display: inline-block;
	padding: 15px;
	font-size: 18px;
	text-align: center;
}


