p.description{
	font-size: 0.7rem;
	color: black;
	margin-bottom: 0;
}
.movie-link{
	&:hover {
		text-decoration: none;
	}
}
.popover {
	top: 20px !important;
}
div.popover-body{
	padding-bottom: 5px;
	padding-top: 5px;
}
h5{
	font-size: 1rem;
	color: black;
}
img.poster {
	opacity: 1.0;
	&:hover {
		opacity: 0.5;
		transition: all .2s ease-in-out; 
	}
}
@media (max-width: 575px){
	.poster{
		width: 80%;
	}
}
@media (min-width: 576px) and (max-width: 992px){
	.poster{
		width: 60%;
	}
}
@media (min-width: 993px){
	.poster{
		width: 50%;
	}
}