.whiteBorder() {
	border-radius: 15px;
	border: solid @offWhite 2px;
}

.redButton(){
	border: 1px solid @red;
	background-color: @red;
	color: white;
	cursor: pointer;
		&:hover{
	    background-color: @darkerRed;
	    border-color: @darkerRed;
		}
}