.modal {

	
	.modal-dialog {
		max-width: 550px;
	}

	.modal-body img {
		display: none;
		@media @tablet-min {
			display: block;
			max-width: 150px;
		}
	}


	li {
		list-style: none;
	}

	hr {
		width: 150%;
		@media @tablet-min {
			width: 100%;
		}
	}

	.booking {
		margin-left: 3rem!important;
		@media @mobile-min {
			margin-left: 200px!important;
		}
		@media @tablet-min {
		margin-left: 6rem!important;
		}
	}

}