// MEDIA QUERY
@mobile-min: ~"screen and (min-width: 576px)";
@mobile-max: ~"screen and (max-width: 767px)";
@tablet-min: ~"screen and (min-width: 768px)";
@tablet-max: ~"screen and (max-width: 991px)";
@pc-min: ~"screen and (min-width: 992px)";
@pc-lg-min: ~"screen and (min-width: 1200px)";

@smartphone: ~"(max-width: 575px)"; // Extra small devices (portrait phones, less than 574px)
@tablet: ~"(max-width: 768px)"; // Medium devices (tablets, less than 992px)
@desktop: ~"(max-width: 992px)"; // Large devices (desktops, less than 1200px)

// ---- Awesome colors for our amazing cinema website 
@yellow: #ffc107;
@yellow-hover: @yellow - 20;
@green: #28a745;
@green-hover: @green - 20;
@black: #0e0f0f;
@black-hover: @black - 20;
@gray: #ccc;
@gray-hover: @gray - 20;
@red: #dc3545;
@red-hover: @red - 20;
@darkerRed: #770000; // Using for hover etc.
@darkerRed-hover: @darkerRed - 20;
@lightRed: #ff0000; // Using for footer and header.
@offWhite: #f2f2f2; // Using for text in buttons and other components.