// Variables

@smartphone: ~"(max-width: 575px)"; // Extra small devices (portrait phones, less than 574px)
@tablet: ~"(max-width: 768px)"; // Medium devices (tablets, less than 992px)
@desktop: ~"(max-width: 992px)"; // Large devices (desktops, less than 1200px)