* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  overflow-y: scroll;
}
html,
body {
  margin: 0;
}
.main-content {
  padding-top: 5%;
  margin: 0 auto;
  max-width: 260px;
}
#photos a {
  display: inline-block;
}
#photos a {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
}
#photos img {
  position: relative;
  float: left;
  width: 80%;
}
#photos p {
  position: absolute;
  top: 95%;
  left: 41%;
  transform: translate(-50%, -50%);
}
